.community {
	.sub_visual {
		background: url(../bbimg/bg_co.jpeg) no-repeat center/cover;
		background-attachment: fixed;
	}

	.inner {
		width: 100%;
		height: 100%;

		.wrap {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
		}
	}
}
