#result {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 3;

	h1 {
		i {
			width: 200px;
			height: 200px;
			border: 2px solid $blue;
			border-radius: 50%;
			font-size: 150px;
			color: $blue;
			padding-top: 25px;
			margin-bottom: 30px;
		}

		span {
			font-size: 7vmin;
		}
	}
}
