$tablet: 1179px;
$mobileBig: 768px;
$mobile: 539px;

* {
	font-family: 'Poppins', sans-serif;
}

section {
	margin: 0;
}

.hidden {
	position: absolute;
	top: -9999px;
	opacity: 0;
}

/*-----------header-----------------*/
#header_sub {
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	.inner {
		width: 1180px;
		height: 120px;
		margin: 0 auto;
		position: relative;
		.logo {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 80px;
			z-index: 2;
			transition: 0.5s;

			&:hover img {
				transform: rotateY(180deg);
			}
			img {
				height: 100%;
				transition: 0.5s;
			}
		}

		.nav_web {
			.gnb {
				width: 100%;
				position: absolute;
				// top: 50%;
				// transform: translateY(-50%);
				bottom: 9px;

				text-align: center;
				&::after {
					content: '';
					display: block;
					clear: both;
				}

				li {
					float: left;
					width: 15%;

					&:nth-of-type(3) {
						margin-right: 10%;
					}

					&:hover {
						a {
							color: #01a1dd;

							&::after {
								width: 100%;
							}
						}
					}

					a {
						color: #777;
						font-size: 15px;
						letter-spacing: 1px;
						position: relative;
						padding-bottom: 10px;
						transition: 0.5s;

						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0px;
							height: 2px;
							background: #01a1dd;
							transition: 0.5s;
						}
					}
				}
			}
		}

		/*-----------메뉴 호출-----------------*/
		.btnCall {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50%;
			right: 50px;
			transform: translateY(-50%);
			z-index: 5;
			display: none;

			span {
				display: block;
				width: 100%;
				height: 2px;
				background-color: #555;
				position: absolute;
				margin-top: -1px;
				top: 50%;
				left: 0;
				text-indent: -9999px;
				transition: all 0.5s;
			}

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #555;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: 1s;
			}

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #555;
				position: absolute;
				top: 0;
				left: 0;
				transition: 1s;
			}

			&.on {
				span {
					transform: translateX(200%);
					opacity: 0;
				}

				&::before {
					transform: rotate(-45deg);
					bottom: 50%;
					margin-bottom: -1px;
				}

				&::after {
					transform: rotate(45deg);
					top: 50%;
					margin-top: -1px;
				}
			}
		}
		/*--mobile--*/
		.nav_mobile {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			text-align: center;
			background-color: #f5f5f5;
			padding-bottom: 80px;
			z-index: 3;
			transition: 1s;

			&.on {
				top: 0;
			}

			.gnb {
				li {
					border-bottom: 1px solid #efefef;
					transition: 1s;

					a {
						display: block;
						width: 100%;
						height: 80px;
						color: #999;
						text-shadow: 1px 1px 0 #ddd;
						font-weight: 300;
						font-size: 4vmin;
						letter-spacing: 1px;
						transition: 0.5s;

						display: flex;
						justify-content: center;
						align-items: center;
					}

					&:hover {
						background-color: #fff;
						a {
							color: $blue;
							letter-spacing: 2px;
						}
					}
				}
			}

			h1 {
				position: absolute;
				left: 50%;
				bottom: 5px;
				transition: 0.5s;

				&:hover {
					transform: rotateY(180deg);
				}
			}
		}
	}
}

/*---------------content----------------*/
.content {
	width: 100%;
	height: 100%;
	padding-top: 0;
	margin: 0;
	overflow: hidden;

	.sub_visual {
		width: 100%;
		height: 300px;
		background-color: #ddd;
		padding: 0 40px;
		margin-bottom: 100px;

		display: flex;
		align-items: center;

		position: relative;

		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: -100%;
			background-color: rgb(1, 161, 221, 0.7);
			opacity: 0;
			transition: 2s;
		}

		h1 {
			font-size: 100px;
			text-transform: uppercase;
			color: #fff;
			opacity: 0;
			transition: 0.5s;

			margin-left: 10%;
			bottom: 0;

			position: relative;
			z-index: 2;
		}
	}

	.inner {
		width: 100%;
		height: 100%;

		position: relative;

		> h2 {
			position: absolute;
			top: 0;
			right: 5%;
			font-size: 100px;
			color: $blue;
			font-style: italic;
			opacity: 0;
			z-index: -1;
			transition: 1s;
		}

		h3 {
			font-size: 50px;
			color: #444;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
		}

		&:hover {
			> h2 {
				top: -120px;
				text-shadow: 20px 20px 0 #ddd;
				opacity: 0.7;
			}
		}
	}

	&:hover {
		.sub_visual {
			.overlay {
				left: 0;
				opacity: 1;
			}
		}

		h1 {
			opacity: 1;
			text-shadow: 7px 7px 0 rgb(0, 168, 224, 0.7);
		}
	}
}

.content_border {
	background: #fff;
	padding-bottom: 100px;
	margin: 0;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: relative;
	bottom: -100px;
	z-index: 2;
	padding-top: 0;
}
/*---------------footer--------------*/
#footer_sub {
	width: 100%;
	height: 60vh;
	background: $bgBlue;
	padding: 150px 50px 50px;

	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;

		.wrap {
			width: 100%;
			height: 100%;
			position: relative;

			display: flex;
			justify-content: space-between;
			align-items: center;

			h1 {
				font-size: 28px;
				letter-spacing: 2px;
				font-weight: 300;
				color: #fff;
				line-height: 1.3;

				flex: 1;

				svg {
					display: block;
					margin-bottom: 30px;
				}
				span {
					strong {
						font-size: 36px;
						letter-spacing: 2px;
					}
				}
			}

			.footer_right {
				flex: 1;

				display: flex;
				justify-content: space-around;
				align-items: flex-start;

				.policy {
					li {
						margin-bottom: 10px;
						a {
							color: #efefef;
						}
					}
				}

				.contact {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					li {
						width: 32px;
						height: 32px;
						line-height: 32px;
						border: 1px solid #efefef;
						border-radius: 50%;
						margin-left: 5px;
						cursor: pointer;
						transition: 0.5s;

						i {
							color: #efefef;
						}

						&:hover {
							background: #efefef;

							i {
								color: $blue;
							}
						}
					}
				}
			}

			p {
				position: absolute;
				bottom: 0;
				left: 0;
				font-size: 13px;
				text-align: right;
				color: #fff;
			}
		}
	}
}

@keyframes blink {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/*---------------tablet----------------*/
@media screen and (max-width: $tablet) {
	/*--header--*/
	#header_sub {
		.inner {
			width: 100%;
			height: 80px;
			.logo {
				height: 50px;
				bottom: 15px;
				left: 50%;
				img {
					height: 100%;
				}
			}
			.nav_web {
				display: none;
			}

			/*-----------메뉴 호출-----------------*/
			.btnCall {
				display: block;
			}
		}
	}

	/*---------------content----------------*/
	.content {
		margin-bottom: 100px;
		.sub_visual {
			width: 100%;

			h1 {
				font-size: 80px;
			}
		}

		.inner {
			min-height: 400px;

			> h2 {
				top: -20px;
				font-size: 70px;
				opacity: 0;
			}

			&:hover {
				> h2 {
					top: -100px;
				}
			}
		}
	}

	/*---footer---*/
	#footer_sub {
		height: 50vh;
		padding: 100px 50px 50px;

		.inner {
			width: 100%;
			.wrap {
				margin-top: 20px;
				h1 {
					font-size: 24px;
					span {
						strong {
							font-size: 32px;
						}
					}
				}
			}
		}
	}
}

/*---------------mobilebig----------------*/
@media screen and (max-width: $mobileBig) {
	/*--content---*/
	.content {
		.sub_visual {
			h1 {
				font-size: 60px;
			}
		}

		.inner {
			min-height: 300px;

			> h2 {
				top: -20px;
				font-size: 50px;
			}

			&:hover {
				> h2 {
					top: -70px;
				}
			}
		}
	}

	/*---footer---*/
	#footer_sub {
		.inner {
			width: 100%;
			.wrap {
				margin-top: 20px;
				h1 {
					font-size: 20px;
					span {
						strong {
							font-size: 28px;
						}
					}
				}

				.footer_right {
					.policy {
						li {
							margin-bottom: 5px;
							a {
								color: #efefef;
							}
						}
					}
					.contact {
						flex-direction: column;
						li {
							margin-left: 0px;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}

/*---------------mobile----------------*/
@media screen and (max-width: $mobile) {
	/*--header--*/
	#header {
		.inner {
			.nav_mobile {
				.gnb {
					li a {
						font-size: 18px;
					}
				}
			}
		}
	}

	/*--content---*/
	.content {
		margin-bottom: 0;
		.sub_visual {
			margin-bottom: 60px;
			justify-content: center;

			.overlay {
				left: 0;
				opacity: 1;
			}

			h1 {
				margin-left: 0;
				opacity: 1;
			}
		}

		.inner {
			min-height: 300px;

			> h2 {
				top: -70px;
				opacity: 0.7;
			}
		}
	}

	.content_border {
		height: 0;
		border-bottom-left-radius: 70px;
		border-bottom-right-radius: 70px;
		padding-bottom: 60px;
		bottom: -60px;
		.inner {
			> h2 {
				font-size: 40px;
			}
		}
	}

	/*---footer---*/
	#footer_sub {
		height: 100%;
		padding: 70px 20px 50px;
		.inner {
			.wrap {
				flex-direction: column;
				h1 {
					text-align: center;
					margin-bottom: 20px;
					svg {
						margin: 0 auto;
						margin-bottom: 20px;
					}
					span {
						strong {
							font-size: 24px;
						}
					}
				}

				.footer_right {
					.policy {
						margin-right: 70px;
					}
				}

				p {
					width: 100%;
					font-size: 11px;
					text-align: center;
					bottom: -30px;
				}
			}
		}
	}
}
